@layer base {
  :root {
    --transition-duration: 0.2s;
  }

  section.scheduler * {
    @apply box-content
    [&_div.calendar-event]:box-border
    [&_div.css-1w6ojv3]:z-[1001]
    [&_div.css-1nmp99l]:z-[1002]
    [&_div.css-anhyye]:z-[1002]
    [&_div.css-xkctyi]:z-[1003]
    [&_div.css-1d1h06e]:grid-cols-custom-17-1
    [&_div.css-1gyej37]:grid-cols-custom-17-1
    [&_div.css-ess3ih]:grid-cols-custom-10-7
    [&_div.css-s6u7kg]:grid-cols-custom-10-7
    [&.css-yp0i15-MuiPaper-root]:w-full
    [&_div.css-19s31ak]:z-[1000]
    [&_.css-73xuqe_.tabs_button.MuiTab-root]:w-[15rem]
    [&_.css-73xuqe_.tabs_button.MuiTab-root>div]:w-full;

    & div > span.rs__cell.rs__header.rs__time {
      writing-mode: unset;
    }

    & .css-1d1h06e .rs__cell:not(.rs__time) {
      min-width: unset;
    }

    & .rs__cell.rs__header > :first-of-type {
      padding: 0 !important;
    }

    & .rs__cell > button {
      @apply box-border;
    }
  }

  html {
    @apply h-full;
  }

  body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply mr-0 p-0 min-h-full
    bg-[var(--surface-ground)] 
    text-[var(--text-color)]
    [&_.p-inputtext]:py-[0.35rem]
    [&_.p-button.p-button-icon-only]:py-[0.35rem]
    [&_.p-dropdown-panel]:text-[0.8rem]
    [&_.pi]:text-[0.8rem]
    [&_.p-inputtext]:text-[0.8rem]
    [&_.p-inputtextarea]:text-[0.8rem]
    [&_.p-dropdown-filter-container_input]:text-[0.8rem]
    [&_.p-dropdown-filter-container_input]:px-[0.8rem]
    [&_.p-dropdown-filter-container_input]:py-[0.4rem]
    [&_.p-dropdown-filter-container_svg]:w-[0.8rem]
    [&_.p-multiselect-filter-container_svg]:w-[0.8rem]
    [&_.p-multiselect]:text-[0.8rem]
    [&_.p-inputnumber-input]:text-[0.8rem]
    [&_.p-multiselect-panel]:text-[0.8rem]
    [&_.p-multiselect-panel_.p-multiselect-items]:text-[0.8rem]
    [&_.p-multiselect-filter]:text-[0.8rem]
    [&_.p-inputwrapper]:w-full
    [&_.p-autocomplete-input]:w-full
    [&_.p-card-body]:w-full
    [&_.p-card-body]:text-[0.8rem]
    [&_.p-card-body_i]:text-[0.8rem]
    [&_.p-card-body_input]:text-[0.8rem]
    [&_.p-dropdown-label.p-inputtext]:text-[0.8rem]
    [&_.p-calendar_button]:text-[0.8rem]
    [&_.p-calendar_button_svg]:w-[0.8rem]
    [&_.p-dropdown-trigger_svg]:w-[0.8rem]
    [&_.p-multiselect-trigger_svg]:w-[0.8rem]
    [&_.p-multiselect-close_svg]:w-[0.8rem]
    [&_.p-inputswitch]:w-[2.9rem]
    [&_.p-inputswitch]:h-[1.35rem]
    [&_.p-inputswitch_.p-inputswitch-slider]:rounded-[2rem]
    [&_.p-inputswitch_.p-inputswitch-slider:before]:rounded-[2rem]
    [&_.p-inputswitch_.p-inputswitch-slider:before]:w-[0.9rem]
    [&_.p-inputswitch_.p-inputswitch-slider:before]:h-[0.9rem]
    [&_.p-inputswitch_.p-inputswitch-slider:before]:mt-[-0.45rem]
    [&_.css-12rl710-MuiPaper-root-MuiDialog-paper]:bg-transparent
    [&_.css-m9glnp-MuiPaper-root-MuiDialog-paper]:bg-transparent;

    @apply [&_.p-dropdown-panel]:z-[1300] 
    [&_.p-datepicker]:z-[1300] 
    [&_.p-multiselect-panel]:z-[1300] 
    [&_.p-autocomplete-panel]:z-[1300] 
    [&_.p-input-icon-left_input]:pl-10
    [&_.p-input-icon-left>i]:mt-[-0.35rem]
    [&_.p-tabmenu-nav]:bg-white
    [&_.p-tabmenu-nav]:border-0
    [&_.p-menuitem-link]:border-0
    [&_.p-dialog-mask]:z-[1300]
    [&_.p-image-mask]:z-[1310] #{!important};

    .p-float-label input:focus ~ label,
    .p-float-label input:-webkit-autofill ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label,
    .p-float-label .p-tooltip-target-wrapper ~ label {
      @apply px-[0.4rem] mt-[0.2rem] bg-white left-2 rounded-lg;
    }

    .p-float-label label {
      @apply leading-[1rem] text-sm;
    }
  }

  /* Cambiar el color del fondo de las barras de desplazamiento */
  ::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento vertical */
    height: 5px;
  }

  /* Cambiar el estilo del "pulgar" de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(66 125 141 / 1);
    /* Color del pulgar */
    border-radius: 2px;
    /* Borde redondeado del pulgar */
  }

  /* Cambiar el estilo del área de seguimiento de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color del área de seguimiento */
    border-radius: 2px;
    /* Borde redondeado del área de seguimiento */
  }

  a {
    @apply text-[var(--primary-color)] no-underline;
  }
  a:focus {
    box-shadow: none !important;
  }

  .layout-wrapper {
    @apply min-h-screen;
  }

  .p-multiselect .p-multiselect-label.p-placeholder,
  .p-multiselect .p-multiselect-label {
    @apply py-[0.35rem];
  }
}

@layer components {
  .focused {
    @apply shadow-md 
    transition-shadow 
    duration-[var(--transition-duration)] 
    outline-0 
    outline-offset-0;
  }

  .tooltip {
    @apply text-sm;
  }

  .event-tooltip {
    @apply text-xs;
  }

  .calendar-filters-container {
    @apply flex flex-col gap-2 sm:justify-center;
    @apply sm:flex-row #{!important};
  }
}
